<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <mat-card>
    <h1 mat-card-title>Login</h1>
  
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>User name</mat-label>
        <input matInput [formControlName]="'name'">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-footer>
  </mat-card>
  </form>