<ng-container *ngIf="participators">
  <table mat-table [dataSource]="participators" [trackBy]="trackByUserName">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="expenses">
      <th mat-header-cell *matHeaderCellDef> Expenses </th>
      <td mat-cell *matCellDef="let element"> {{element.expenses | total | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="addExpenses(element.name)" matTooltip="Add expenses">
          <mat-icon>money</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>